body {
  margin: 0 auto;
  padding: 32px 48px;
  background: black;
  color: white;
}

h1,
p {
  margin: 0;
}

.format-form-container {
  display: flex;
  gap: 30px;
  margin-bottom: 52px;
}

.radio-buttons-container {
  display: flex;
  gap: 20px;
}

.example-container {
  width: 320px;
  height: 172px;
  padding: 12px 20px;
  margin-top: 8px;
  background-color: #232528;
  border-radius: 4px;
}

.report-example {
  padding-left: 20px;
  color: #eee;
}

button {
  display: block;
  margin-top: 12px;
  margin-left: auto;
}

.format-label {
  font-size: 16px;
}

.routines-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 16px;
}

.routine-input {
  width: 100%;
  background-color: #232528;
  color: white;
}

.routine-input + .routine-input {
  margin-top: 4px;
}
